@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  background-color: #586875;
  color: aliceblue;
}
  
.logo{
  flex: 1 1 auto;
  
  
}
.flex-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  
}
.flex-container  {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
  justify-content: center;
}
.link {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #a5c8ca, #f6eddc);
  min-height: 100vh;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
}
main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}
